@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'nako.theme';

html {
  @apply font-sans;
  @apply text-black;

  /* Dark mode */
  @apply dark:text-gray-light;
  @apply dark:bg-black;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  @apply font-bold;
  @apply text-4xl;
  @apply mb-5;
}

h2 {
  @apply text-4xl;
  @apply font-extrabold;
  @apply mb-3;
}

h3 {
  @apply text-3xl;
}

button {
  user-select: none;
}

/* Code highlighting */
code {
  @apply py-0.5;
  @apply px-1.5;
  @apply text-sm;
  @apply text-blue-900;
  @apply font-medium;
  @apply bg-blue-50;
  @apply border;
  @apply border-blue-100;
  @apply rounded-md;
}

pre {
  @apply py-4;
  font-size: inherit;
  overflow: auto;
}

.line {
  @apply px-4;
  transition: background-color 0.2s, opacity 0.2s;
}

.line-number {
  @apply opacity-40;
  @apply select-none;
  display: inline-block;
  padding-right: 2ch;
  text-align: right;
  width: 4ch;

  transition: opacity 0.2s;
}

pre:hover .line {
  opacity: 1;
  filter: grayscale(0);
}

pre .active {
  background-color: rgba(0, 0, 0, 0.6);
}

pre .active .line-number {
  opacity: 1;
}

pre .inactive {
  @apply opacity-50;
  filter: grayscale(100%);
}

pre .interactive {
  @apply px-1;
  @apply -mx-1;
  @apply rounded-full;
  @apply bg-white;
  @apply bg-opacity-10;
  @apply cursor-pointer;
  @apply transition-colors;
}

pre .interactive:hover {
  @apply bg-opacity-20;
}
