@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-cdx/themes/nako.css';
@import './code';

html {
  @apply font-sans;
  @apply text-black;

  /* Dark mode */
  @apply dark:text-gray-light;
  @apply dark:bg-black;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  @apply font-bold;
  @apply text-4xl;
  @apply mb-5;
}

h2 {
  @apply text-4xl;
  @apply font-extrabold;
  @apply mb-3;
}

h3 {
  @apply text-3xl;
}

button {
  user-select: none;
}

.sibling {
  @apply hidden;
}

.sibling-visible + .sibling {
  @apply block;
}
